<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="serviceName" value="PdfMergeService" />
    <add key="displayName" value="Pdf Merge Service" />
    <add key="pattern" value="img_(\d{3})\.(.*)" />
    <add key="fileExtensions" value="jpg png jpeg" />
    <add key="timeout" value="10" />
    <add key="reportSendInterval" value="1" />
    <add key="period" value="1000" />
    <add key="exchangeName" value="exchange" />
    <add key="hostName" value="localhost" />
    <add key="requestStatusTopic" value="requestStatusTopic" />
    <add key="reportStatusTopic" value="reportStatusTopic" />
    <add key="changeSettingsTopic" value="changeSettingsTopic" />
    <add key="fileSendTopic" value="fileSendTopic" />
  </appSettings>
</configuration>