<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="serviceName" value="PdfMergeService" />
    <add key="displayName" value="Pdf Merge Service" />
    <add key="pattern" value="img_(\d{3})\.(.*)" />
    <add key="fileExtensions" value="jpg png jpeg" />
  </appSettings>
</configuration>