<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="pattern" value="document_(\d+).pdf" />
    <add key="serviceName" value="PdfMergeServiceCentral" />
    <add key="displayName" value="Pdf Merge Service Central" />
    <add key="timeout" value="11" />
    <add key="period" value="1000" />
    <add key="exchangeName" value="exchange" />
    <add key="hostName" value="localhost" />
    <add key="requestStatusTopic" value="requestStatusTopic" />
    <add key="reportStatusTopic" value="reportStatusTopic" />
    <add key="changeSettingsTopic" value="changeSettingsTopic" />
    <add key="fileSendTopic" value="fileSendTopic" />
    <add key="JsonConfig" value="config.json" />
    <add key="folderToWatch" value="C:\Users\Ivan_Rybakov1\source\repos\ment_net_2018q2_d2\Mentoring.D2.MessageQueue\Mentoring.D2.MessageQueue\bin\Debug" />
  </appSettings>
</configuration>